h2,h3 {
    color:maroon;
    font-family:sans-serif;
}

h4 {
    color:gray;
    font-family:sans-serif;
}

a {
    text-decoration: none;
}

p,li,div {
    color: #000;
    font-family:sans-serif;
}


button {
    background-color: white;
}

.statistics {
    color:blue
}

.individual-report-collapse {
    color:#ffa500
}

body {
    min-height: 100%;
    margin: 0;
    height: auto;
    background: #046380;
    line-height: 1.8em;
    font-size: 62.5%;
}

.header-wrapper {
    padding-top: 15px;
    background-color: #fff;
    padding-bottom: 15px;
    border-top: 6px solid #255C97;
}

#page {
    position:absolute; 
    top:0;
    bottom:0; 
    left:0; 
    right:0;
}

.navbar {
    border-radius: 0;
    border: 0;
    background-color: #574F4F !important;
    font-size: 18px;
    margin: 0;
    padding: 0 !important;
    min-height: 45px !important;
    width: 100%;
}

.pages-coming-soon {
    background-color: #716f6f;
}

.navbar a:hover {
    background-color: #2f2a2a;
}

.navbar-active {
    background-color: #2f2a2a;
}

.active {
    background-color: #aaaaaa;
}

.collapse {
    height: inherit;
}

#maincontainer {
    background-color: #f5f5f5;
    min-height: calc(100vh - 256px);
}

.h4-heading {
    color: #000000;
    font-weight: bold;
}

.confluence-notification {
    position: relative;
}

.container {
    min-height: inherit;
    height: 100%;
    max-width: 100% !important;
    margin: 0 auto;
    padding: 0;
}

#pieChartLabel {
    /* margin-top: 1rem !important; */
    white-space: normal;
}

.dropdown-options {
    padding: .275rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 0.5rem;
    margin-bottom: 0;
}

.home-page-stats {
    margin: auto;
    background-color: #fff;
    padding-bottom: 0.5rem;
}

.main-container {
    background-image: radial-gradient(at center center, rgb(159, 222, 239) 0%, rgb(201, 227, 235) 48%, rgb(131, 186, 244) 100%);
    height: inherit;
    padding: 1rem;
    min-height: inherit;
    position: relative;
    width: 100%;
}

#loadingAnimation {
    height: 40px;
    position: fixed;
    display: block;
    top: 50%;
    left: 45%;
}

.chart-selection {
    margin: 1rem 0;
    width: inherit;
    display: inline-block;
}

.chart-type {
    display: inline-block;
    text-decoration: none;
}

.toggle-chart-link:hover {
    text-decoration: none;
}

.chart-active:hover {
    text-decoration: none;
    color: #6ca9eb;
}

.chart-active {
    background-color: #0e2637;
    padding: 0.35rem;
    color: #fff;
}

.toggle-chart-link{
    padding: 0.35rem;
    border: 0.5px solid #0e2637;
    color: #0e2637;
    background-color: #fff;
}

label {
    margin: 0 !important;
}

.chk-box-margin {
    margin-right: 0.35rem;
}

.content-wrapper {
    padding-top: 15px;
}

#confluenceDiv {
    height: inherit;
    width: inherit;
    text-align: center;
    min-height: inherit;
}

.data-summary-label {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    white-space: nowrap;
}

.interactive-summary-label {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 1rem;
    white-space: nowrap;
    margin-top: 1rem;
}

.dc-chart .selected circle, .dc-chart .selected path {
    stroke: #711a1a !important;
    stroke-width: 2 !important;
}

#parameterList {
    /* border-top: 1px solid rgba(0,0,0,.125); */
}

.align-left {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.create-project-btn {
    margin-bottom: 1rem;
}

.background-white {
    background-color: #ffffff;
    border-radius: 1rem;
}

.data-summary-count {
    color: #1127fc;
    font-weight: bolder;
    font-size: 30px;
    margin-right: 1rem;
}

.interactive-stats {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    background-color: #fff;
    width: inherit;
    padding: 1rem;
}

.search-options {
    display: block;
    width: 100%;
    height: 1.8rem;
    padding: 0 0.5rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.first-list-item {
    margin-top: 1rem;
}

.main-summary-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: inherit;
    display: flex;
    min-height: 30%;
    width: inherit;
}

.summary-inner-row {
    padding-bottom: 30px;
}

.summary-inner-col {
    white-space: nowrap;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.back-to-top {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    text-decoration: none !important;
    color: #4d4d4d !important;
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
}

.header-item {
    white-space: nowrap;
}

.header-launch-data-txt {
    color: #fff;
}

.header-launch-data-txt:hover {
    color: #fff;
    text-decoration: none;
}

.header-launch-data-btn {
    background-color: #24618d;
}

.header-launch-data-btn:hover {
    background-color: #0f293b;
}

.cdc-apps-menu-grid {
    text-align: center;
    white-space: nowrap;
}

.page-size-selector {
    padding: 1rem;
}

#pageSizeSelector {
    height: 2rem;
}

.table td {
    padding: .25rem;
    white-space: nowrap;
}

#pagination-container {
    padding: 1rem;
}

#dataExplorationParameter {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #8e4410;
}

#dataExplorationTable {
    max-height: 1050px;
}

.ul-list-style {
    list-style-type:none;
    margin-top: 1rem;
}

.ul-data-exploration {
    max-height: 110px;
    overflow: auto;
    padding: .5rem;
}

.data-submission {
    text-align: left;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    border-radius: 1rem;
}

.my-projects-div {
    text-align: left;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
}

.btn-copy {
    padding: 0px 4px !important;
}

.my-projects {
    text-align: left;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
}

.fa-plus:hover, .fa-minus:hover, .fa-file-download:hover, .fa-folder-plus:hover, .fa-file-upload:hover, .fa-arrow-up:hover{
    cursor: pointer;
}

.fa-arrow-up {
    color: #807c7c;
}

.fa-folder, .fa-folder-open {
    color: #e4c150;
}

.fa-folder-plus {
    color: #58aef2;
}

.fa-file-download {
    color: #69b039;
}

.fa-file-upload {
    color: #f2b139;
}

.custom__form-control {
    display: inline;
    height: 1.8rem;
    max-width: 40%;
    padding: 0 .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s;
    margin: 0px;
}

.file-upload {
    display: inline;
    height: 1.5rem;
    padding: 0 .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s;
    margin: 0px;
    max-width: 30%;
}

.create-folder {
    display: inline;
    height: 1.5rem;
    padding: 0 .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s;
    margin: 0px;
    max-width: 30%;
}

.content {
    padding: 0px 0px 0px 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    margin: 0;
}

.menu-item {
    display: inline;
    padding: 0.375em 9px;
}

.nav-menu-item {
    font-size: 1rem;
    display: inline-block !important;
}

.nav-menu-links {
    text-decoration: none !important;
    color:#fff !important;
    padding: 0.5rem 1rem !important;
}

.spinner-color {
    color: #574f4f !important;
}

.dynamic-charts {
    min-height: 400px;
    margin-top: 2rem;
}

.pie-label {
    fill: #000 !important;
}

#variableLabel {
    font-weight: bold;
}

.dataSummary-chart {
    min-height: 380px;
}

.dataSummary-label{
    color: #531e1a;
    font-weight: bold;
}

.dataSummary-selected-range {
    color: #2c41b7;
    font-weight: bold;
}

.data-summary-label-wrap {
    white-space: normal;
}

.filter-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    font-size: 0.75rem;
    background-color: #12345a;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
}

.filter-btn:hover {
    cursor: default;
}

#dataSummaryVizPieChart {
    padding: 0 0.5rem;
}

.list-group-item{
    padding: 0.25rem 1.25rem !important;
    width: inherit;
    color: #495057;
}

.list-group-item.active{
    background-color: #fff !important;
    border-color: #1127fc !important;
    color: #000 !important;
}

.list-group-item:hover {
    text-decoration: none;
    color: #000 !important;
}

.list-variables{
    overflow: scroll;
    max-height: 180px;
}

#dataSummaryParameter {
    max-width: 275px;
}

.list-group{
    margin-top: .25rem;
    margin-bottom: 0.32rem !important;
}

#dataSummaryVizBarChart {
    min-height: 380px
}

.about-confluence {
    background-color: #fff;
    padding-top: 1rem;
}

.nav-menu-links:hover {
    text-decoration: none;
}

.grid-elements:hover {
    text-decoration: none;
    color:#fff;
}

span.icon {
    display: block;
    height: inherit;
    margin: 0;
    overflow: hidden;
    padding: 3px 0;
    float: none;
}

.last {
    background-color: #0b7983;
}

#footer {
    border-top: 0 solid #2d2d2d;
    font-size: 0.9em;
    bottom: 0;
    width: 100%;
}

.footer-content {
    text-align:center;
    border-top: 1px solid #574F4F;
    width: 100%;
    background-color: #fff;
    margin: 0 !important;
}

.footer-links {
    color: #4d4d4d;
    text-decoration: underline;
}

.footer-links:hover {
    text-decoration: none;
    color: #4d4d4d;
}

.footer-tagline {
    color: black;
    font-size: 1.1rem
}

.grid
{
  width: 100%;
  height: inherit;
}

.grid-elements
{
  white-space: nowrap;
  /* text-align: center; */
  vertical-align: middle !important;
}

.grid-border {
    border-left: 1px solid #7b7474;
}

.expand-collapse-header {
    text-align: center;
}

.login-btn {
    text-align: right;
}

.authentication-link {
    align-content: center;
    height: 100%;
}

#error {
    padding: 15px !important;
    color: red;
}

.errorMsg {
    color: red;
}

.create-study {
    padding-bottom: 1rem;
}

.new-study-btn, .upload-in-study {
    padding-left: 15px;
}

form {
    text-align: left;
}

.btn-primary {
    background-color: #0053AD !important;
}

.links-border-right {
    border-right: 1px solid #000000;
}

#toggleVariable{
    color: #0053AD !important;
}

.data-governance {
    text-align: left;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    border-radius: 1rem;
}

.lazy-loading-spinner {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.my-projects-table {
    width: 50% !important;
}

.share-folder{
    padding: 2px 4px !important;
    color: #a79292;
}

.share-folder:focus {
    color: #332b2b;
    text-decoration: none;
}

.share-folder:hover {
    color: #332b2b;
    text-decoration: none;
}

.collaborator-table{
    font-size: 0.75rem;
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.navbar-dropdown {
    background-color: #574F4F !important;
    padding: 0 !important;
}

.menu-description{
    font-size: 10px;
}

.removeCollaborator {
    color: #677685 !important;
}

.removeCollaborator:hover {
    color: #414952 !important;
}

.successMsg {
    color: #206e20;
}

.updateCollaboratorRole {
    padding: 0px !important;
    height: auto !important;
    font-size: inherit !important;
    font-weight: normal !important;
}