h2,h3 {
    color:maroon;
    font-family:sans-serif;
}

h4 {
    color:gray;
    font-family:sans-serif;
}

a {
    text-decoration: none;
}

p,li,div {
    color: #000;
    font-family:sans-serif;
}


button {
    background-color: white;
}

.statistics {
    color:blue
}

.individual-report-collapse {
    color:#ffa500
}

body {
    min-height: 100%;
    margin: 0;
    height: auto;
    background: #046380;
    line-height: 1.8em;
    font-size: 62.5%;
}

.header-wrapper {
    padding-top: 15px;
    background-color: #fff;
    padding-bottom: 15px;
    border-top: 6px solid #255C97;
}

#page {
    position:absolute; 
    top:0;
    bottom:0; 
    left:0; 
    right:0;
}

.navbar {
    border-radius: 0;
    border: 0;
    background-color: #574F4F !important;
    font-size: 18px;
    margin: 0;
    padding: 0 !important;
    min-height: 45px !important;
    width: 100%;
}

.navbar a:hover {
    background-color: #2f2a2a;
}

.navbar-active {
    background-color: #2f2a2a;
}

.active {
    background-color: #aaaaaa;
}

.collapse {
    height: inherit;
}

#maincontainer {
    background-color: #f5f5f5;
    min-height: 69%;
}

.container {
    min-height: inherit;
    height: 100%;
    max-width: 100% !important;
    margin: 0 auto;
    padding: 0;
}

.dropdown-options {
    padding: .275rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 0.5rem;
}

.home-page-stats {
    margin: auto;
    background-color: #fff;
}

.main-container { 
    background-image: radial-gradient(at center center, rgb(159, 222, 239) 0%, rgb(201, 227, 235) 48%, rgb(131, 186, 244) 100%);
    height: inherit;
    padding: 1rem;
    min-height: inherit;
    position: relative;
    width: 100%;
}

#loadingAnimation {
    height: 40px;
    display: inline-block;
}

.chart-selection {
    margin: 1rem 0;
    width: inherit;
    display: inline-block;
}

.chart-type {
    display: inline-block;
    text-decoration: none;
}

.toggle-chart-link:hover {
    text-decoration: none;
}

.chart-active:hover {
    text-decoration: none;
    color: #6ca9eb;
}

.chart-active {
    background-color: #0e2637;
    padding: 0.35rem;
    color: #fff;
}

.toggle-chart-link{
    padding: 0.35rem;
    border: 0.5px solid #0e2637;
    color: #0e2637;
    background-color: #fff;
}

label {
    margin: 0 !important;
}

.chk-box-margin {
    margin-right: 0.35rem;
}

.content-wrapper {
    padding-top: 15px;
    /* height: inherit; */
}

#confluenceDiv {
    height: inherit;
    width: inherit;
    text-align: center;
    min-height: inherit;
}

#dataSummaryParameter {
    margin: 1rem 0;
}

.data-summary-label {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    white-space: nowrap;
}

.interactive-summary-label {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    white-space: nowrap;
}

.cases-controls-chkbox {
    width: 25px;
    height: 25px;
}

.align-left {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.data-summary-count {
    color: #1127fc;
    font-weight: bolder;
    font-size: 30px;
}

.interactive-stats {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    background-color: #fff;
    width: inherit;
}

.search-options {
    display: block;
    width: 100%;
    height: 1.5rem;
    padding: 0 0.5rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.first-list-item {
    margin-top: 1rem;
}

.main-summary-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: inherit;
    display: flex;
    min-height: 30%;
    width: inherit;
}

.summary-inner-row {
    padding-bottom: 30px;
}

.summary-inner-col {
    white-space: nowrap;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.back-to-top {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    text-decoration: none !important;
    color: #4d4d4d !important;
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
}

.header-item {
    white-space: nowrap;
}

.header-launch-data-txt {
    color: #fff;
}

.header-launch-data-txt:hover {
    color: #fff;
    text-decoration: none;
}

.header-launch-data-btn {
    background-color: #24618d;
}

.header-launch-data-btn:hover {
    background-color: #0f293b;
}

.cdc-apps-menu-grid {
    text-align: center;
    white-space: nowrap;
}

.page-size-selector {
    padding: 1rem;
}

#pageSizeSelector {
    height: 2rem;
}

.table td {
    padding: .25rem;
    white-space: nowrap;
}

#pagination-container {
    padding: 1rem;
}

#dataExplorationParameter {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #8e4410;
}

#dataExplorationTable {
    max-height: 1050px;
}

.ul-list-style {
    list-style-type:none;
    margin-top: 1rem;
}

.ul-data-exploration {
    max-height: 110px;
    overflow: auto;
    margin-bottom: 1rem;
    padding: .5rem;
}

.data-submission {
    text-align: left;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
}

.fa-plus:hover, .fa-minus:hover, .fa-file-download:hover, .fa-folder-plus:hover, .fa-file-upload:hover, .fa-arrow-up:hover{
    cursor: pointer;
}

.fa-arrow-up {
    color: #807c7c;
}

.fa-folder, .fa-folder-open {
    color: #e4c150;
}

.fa-folder-plus {
    color: #58aef2;
}

.fa-file-download {
    color: #69b039;
}

.fa-file-upload {
    color: #f2b139;
}

.input-file-upload {
    display: inline;
    height: 1.5rem;
    padding: 0 .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s;
    margin: 0px;
    width: 225px;
}

.input-create-folder {
    display: inline;
    height: 1.5rem;
    padding: 0 .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s;
    margin: 0px;
    width: 145px;
}

.content {
    padding: 0 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    margin: 0;
}

.menu-item {
    display: inline;
    padding: 0.375em 9px;
}

.nav-menu-item {
    font-size: 1rem;
    display: inline-block !important;
}

.nav-menu-links {
    text-decoration: none !important;
    color:#fff !important;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-menu-links:hover {
    text-decoration: none;
}

.grid-elements:hover {
    text-decoration: none;
    color:#fff;
}

span.icon {
    display: block;
    height: inherit;
    margin: 0;
    overflow: hidden;
    padding: 3px 0;
    float: none;
}

.last {
    background-color: #0b7983;
}

#footer {
    border-top: 0 solid #2d2d2d;
    font-size: 0.9em;
    bottom: 0;
    width: 100%;
}

.footer-content {
    text-align:center;
    border-top: 1px solid #574F4F;
    width: 100%;
    margin: -9px 0px 0px 0px !important;
    background-color: #fff;
}

.footer-links {
    color: #4d4d4d;
    text-decoration: underline;
}

.footer-links:hover {
    text-decoration: none;
    color: #4d4d4d;
}

.footer-tagline {
    color: black;
    font-size: 1.1rem
}

.grid
{
  width: 100%;
  height: inherit;
}

.grid-elements
{
  white-space: nowrap;
  /* text-align: center; */
  vertical-align: middle !important;
}

.grid-border {
    border-left: 1px solid #7b7474;
}

.expand-collapse-header {
    text-align: center;
}

.login-btn {
    text-align: right;
}

.authentication-link {
    align-content: center;
    height: 100%;
}
